<!DOCTYPE html>
   <head>
      <title>Lightless gun</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
      <div class="cursor"></div>

      <div class="Container">
		<h1 class="Headline">Lightless gun</h1>
		<h3 class="Container2">Server ==>  {{ Serverstatus }}</h3>
		
		<br>

		<h3 class="Container2"> 
			Server
         <br>
         <button onclick="location.href='/server/start'" value="start" type="button">ON</button>  
         <button onclick="location.href='/server/stop'" value="stop" type="button">OFF</button> 
         <br>
         <br>
         <button onclick="location.href='/calibration/start'" value="calibration" type="button">Start Calibration</button>

   </h3>

      </div>

   <script src="../static/ad.js"></script>
   </body>
</html>