<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/master.css'/>
   </head>
   <body>
		<h1>Server Status</h1>
		<h3>Server ==>  {{ Serverstatus }}</h3>
		
		<br>

		<h2> Commands </h2>
		<h3> 
			Server ==> 
			<a href="/server/start" class="button">TURN ON</a>  
			<a href="/server/stop"class="button">TURN OFF</a>
            <br>
            <a href="/calibration" class="button">Calibration</a>
            <br>
            <a href="/test" class="button">Test</a>
		</h3>

		
   </body>
</html>