<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/master.css'/>
   </head>
   <body>
		<h1>Server Status</h1>
		<h3>Server ==>  {{ Serverstatus }}</h3>
		
		<br>

		<h2> Commands </h2>
		<h3> 
			Server ==> 
         <button onclick="location.href='/server/start'" value="start" type="button">ON</button>  
         <button onclick="location.href='/server/stop'" value="stop" type="button">OFF</button> 
         <br>
         <button onclick="location.href='/calibration'" value="calibration" type="button">Calibration</button>
         <br>
         <button onclick="location.href='/test'" value="Test" type="button">Test site</button>
   </h3>

		
   </body>
</html>